* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box {
    height: 200px;
    width: 200px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box1 {
    background-color: brown;
    transition-duration: 1s;
    transition-delay: 1s;

}

.box2 {
    background-color: darkgreen;
    transition-duration: 1s;
    transition-delay: 1s;
}

.box3 {
    background-color: darkcyan;
    transition-duration: 1s;
    transition-delay: 1s;
}

.box4 {
    background-color: yellow;
    transition-duration: 1s;
    transition-delay: 1s;
}

.box1:hover {
    transform: scale(1.3);

}

.box2:hover {
    transform: translate(150px, -200px);
}

.box3:hover {
    transform: rotate(30deg);

}

.box4:hover {
    transform: skew(20deg);
}





/* .lunar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
   
    position: absolute;
    top: 150%;
    left: 60%;
    transform: translate(-50% 100%);
    

}.earth{
    width: 300px;
    animation-name: earth;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transform: translate(-50% 100%);
    position: absolute;
    top: 120%;
    left: 35%;
}.rotate2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
    animation-name: earth;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}


 
@keyframes earth{
    from{
        transform: rotate(0deg)   translate(-50% 100%); 
  }
    
    to{
        transform: rotate(360deg) translate(-50% 100%); 
    }
}
@keyframes lunar{
    from{
        transform: rotate(0deg)   translate(-50% 100%); 
  }
    
    to{
        transform: rotate(360deg) translate(-50% 100%); 
    }
} */


.sec2{
    background-color: black; 
   
}

.rotate2 {
    position: relative;
    height: 100vh;
    animation-name: lunar;
    animation-duration: 40s;
    animation-iteration-count: infinite;

   
    
   
}

.earth {
    height: 40vh;
    width: 40vh;
    position: absolute;
    top: 35%;
    left: 35%;
    animation-name: earth;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    margin:10px 0 0 10px ;
    


   

}.lunar {
    height: 10vh;
    width: 10vh;
    position: absolute;
    top: 30%;
    left: 57%;
    
    
    

   

}
@keyframes lunar{
    from{
        transform: rotate(0deg) 
    }
    to{
        transform: rotate(360deg)  
    }
}
@keyframes earth{
    from{
        transform: rotate(0deg) 
    }
    to{
        transform: rotate(360deg) 
    }
}