.block {
    .container1 {
        @include gorunus;
        margin-bottom: 4%;
        

    }
    .container2{
        @include gorunus;
        margin-bottom: 4%;
    }

    
}
@media  screen  and (max-width:992px){
.block{
    .container1{
        display: block;
        text-align: center;
        gap: 3px;
    }
    .container2{
        display: block;
        text-align: center;
        gap: 3px;
    }
}


}