.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .box{
        height: 200px;
        width: 200px;
        background-color: yellow;
        display: flex;
        justify-content: center;
        align-items: center;
        
        img {
            width: 200px;
            height: 200px;
            display: none;
        }

        &:hover{
            img {
                display: block;
            }
            
            h1 {
                display: none;
            }

            transform: rotateX(360deg);
            transition-duration: 2s;
        }
    }
}