.fon{
    background-image: url(./image6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
   background-attachment: fixed;

   
    .text{
       width: 100%;
        text-align: center;
        padding-top:25%;
        background-color: rgba(0, 0, 0, 0.7);
        height: 100vh;
        h3{
            color: white;
            font-size: xx-large;
        }
       
       
    }
    
}