.contact {
    margin-top: 15rem;
    height: 80vh;
    position: relative;
    border: 1px solid #000;
    background-color: #f4f5f9;
    .row {
      height: 80vh;
    }
  
    h2 {
      letter-spacing: 1px;
      padding-left: 4rem;
      font-size: 50px;
      color: #4a4a4a;
      font-weight: bolder;
    }
    form {
      input {
        margin-left: 10px;
        color: #373a3c;
        border: 1px dashed #373a3c;
        background-color: #fff;
        width: 240px;
        height: 50px;
        padding: 7px 20px;
        font-family: "Montserrat", sans-serif;
        letter-spacing: 1;
        outline: #f4f5f9;
        margin-bottom: 10px;
      }
      select {
        border: 1px dashed #373a3c;
        background-color: #fff;
        width: 100px;
        height: 50px;
        padding: 8px 20px;
        margin-left: 10px;
        color: #373a3c;
        outline: #f4f5f9;
      }
      .number {
        width: 380px;
      }
      .jobs {
        width: 495px;
      }
      button {
        margin-top: 2rem;
        width: 496px;
        margin-left: 10px;
        background-color: #fcba00;
        padding: 15px 0;
        border: none;
        color: #373a3c;
        font-size: 18px;
      }
    }
  }